{:paths ["src"]
 :main "main.lg"
 :lg-version "1.12.2"
 :deps {tiny-tui {:git/url "https://github.com/abogoyavlensky/tiny-tui"
                  :git/sha "3d2aeaa68e4647187c10cbbcba7df881b81b9a6c"}}
 :targets {:bin {:out "bin/attractor"}}

 :contexts
 {:test {:extra-paths ["test"]}}

 :tasks
 {suite {:doc "Run Attractor test suite"
         :do  {:run "test/runner.lg"}}
  validate {:doc "Validate a DOT pipeline"
            :args [{:name :file :type :string}]
            :do  {:run ["main.lg" "validate" :arg/file]}}
  run-pipeline {:doc "Run a DOT pipeline"
                :args [{:name :file :type :string}]
                :do  {:run ["main.lg" "run" :arg/file "--auto-approve"]}}
  clean {:doc "Clean pipeline execution artifacts and logs"
         :do  {:run ["main.lg" "clean"]}}}}
