{:pass true, :artifacts "/var/folders/vk/rkcd0mjn591_03z0856412gh0000gn/T//http-questions-96258fbe-58e5-456e-b07f-32effd96b1ca", :checks [:shared-standalone-owner :question-id :stage :answer-route :context-keys :question-cleanup :timeout-default]}